/* ヘッダー */



body {
  margin: 0;
}

.wrapper-1 {
  display: flex;
  justify-content: space-between;
}



.my-work {
  font-weight: normal;
  margin-left: 40px;
}

.nav {
  margin-right: 40px;
}



.menu-icon {
  list-style: none;
  display: inline-block;
  padding: 0;
  width: 30px;
}

.menu-icon img {
  width: 100%;
}

.menu-item {
  list-style: none;
  display: inline-block;
  padding: 20px;
  font-size: 14px;
}


/* メイン */
#main-visual {
  width: 100%;
}

#main-visual > img {
  width: 100%;
  margin-bottom: 65px;
}

#main-visual-2 {
  display: none;
}





/* アバウト */

.about-title {
  text-align: center;
  margin-bottom: 65px;
}

#about {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 65px;
}

p {
  padding: 10px;
}




/* ワークス */


.works-title {
  text-align: center;
  margin-bottom: 65px;
}

#works {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  display: flex; 
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 65px;
}

.phot-item {
  max-width: 250px;
  margin-bottom: 30px;
}

.phot-item > img {
  width: 100%;
}

/* ニュース */


.news-title {
  text-align: center;
  margin-bottom: 65px;
}

.main-news {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 65px;
  line-height: 1px;
}

.texst {
  margin-left: 30px;
}

br {
  display: none;
}

/* コンタクト */

.contact-title {
  text-align: center;
  margin-bottom: 60px;
}

.contact-text-box {
  text-align: center;
}



.text-box {
  width: 700px;
  height: 30px;
}

textarea {
  width: 700px;
  height: 150px;
}

.contact-button {
  text-align: center;
}

.button {
  width: 200px;
  height: 50px;
  background-color: #191919;
  color: #fff;
  margin-top: 15px;
  margin-bottom: 15px;
}

.button:hover {
  background-color: #fff;
  color: #191919;
}




/* フッター */
#footer {
  background-color: #191919;
  height: 40px;
  text-align: center;
  color: #fff;
}





/* スマホ */
@media screen and (max-width:480px) {







  /* ヘッダー */
  .wrapper-1 {
    display: flex;
    flex-direction: column;
  }

  h1 {
    margin: 0;
  }

  .my-work {
    font-size: 40px;
    text-align: center;
  }

  .menu-group {
    display: flex;
    justify-content: space-between;
  }

  /* メイン画像 */

  #main-visual {
    display: none;
  }

  #main-visual-2 {
    display: block;
  }

  #main-visual-2 > img {
    width: 100%;
  }

  /* アバウト */

  .about-title {
    margin-top: 40px;
  }

  #about p {
    display: inline-block;
  }

/* ワークス */

#works {
  max-width: 100%;
}

.phot-item {
  max-width: 100%;
  width: 100%;
}

.phot-item img {
  height: auto;
  display: block;
}

/* ニュースパート */

.main-news > p {
  font-size: 15px;
  line-height: 20px;
}

br {
  display: block;
}
 


/* コンタクトパート */



 .text-box{
  width: 480px;
}

textarea {
  width: 480px;
}


}