/* ヘッダー */



.wrapper {
  display: flex;
  justify-content: space-between;
}



.my-work {
  font-weight: normal;
  margin-left: 40px;
}

.nav {
  margin-right: 40px;
}



.menu-icon {
  list-style: none;
  display: inline-block;
  padding: 0;
  width: 30px;
}

.menu-icon img {
  width: 100%;
}

.menu-item {
  list-style: none;
  display: inline-block;
  padding: 20px;
  font-size: 14px;
}


/* メイン */
#main-visual {
  width: 100%;
}

#main-visual > img {
  width: 100%;
  margin-bottom: 65px;
}

#main-visual-2 {
  display: none;
}





/* アバウト */

.about-title {
  text-align: center;
  margin-bottom: 65px;
}

#about {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 65px;
}

p {
  padding: 10px;
}




/* ワークス */


.works-title {
  text-align: center;
  margin-bottom: 65px;
}

#works {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  display: flex; 
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 65px;
}

.phot-item {
  max-width: 250px;
  margin-bottom: 30px;
}

.phot-item > img {
  width: 100%;
}

/* ニュース */


.news-title {
  text-align: center;
  margin-bottom: 65px;
}

.main-news {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 65px;
  line-height: 1px;
}

span::before {
  margin: 5px;
}

br {
  display: none;
}

/* コンタクト */
.contact-title {
  text-align: center;
  margin-bottom: 65px;
}

.contact-text {
  text-align: center;
  margin-bottom: 65px;
}


.textbox {
  padding: 15px;
  width: 600px;
}

textarea {
  height: 200px;
  width: 600px;
}


#button2 {
  background-color: #333333;
  color: #ffffff;
  height: 55px;
  width: 180px;
}
#button2:hover {
  background-color: #ffffff;
  color: black;
}

footer {
  background-color: #191919;
  height: 40px;
}

.company-info {
  font-weight: normal;
  font-size: 12px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}




/* スマホ */
@media screen and (max-width:480px) {





  /* ヘッダー */
  .wrapper {
    display: flex;
    flex-direction: column;
  }

  .my-work {
    font-size: 40px;
    text-align: center;
  }

  .menu-group {
    display: flex;
    justify-content: space-between;
  }

  /* メイン画像 */

  #main-visual {
    display: none;
  }

  #main-visual-2 {
    display: block;
  }

  #main-visual-2 > img {
    width: 100%;
  }

  /* アバウト */

  #about p {
    display: inline-block;
  }

/* ワークス */

#works {
  max-width: 100%;
}

#works img {
  width: 480px;
  height: auto;
  display: block;
}

/* ニュースパート */

.main-news > p {
  font-size: 15px;
  line-height: 20px;
}

br {
  display: block;
}
 


/* コンタクトパート */

.contact-text > p {
  text-align: left;
}

#button2 {
  text-align: center;
}

.textbox {
  width: 90%;
}

textarea {
  width: 96%;
}

}